body {
    background-color: black;
    color: white;;
    text-align: center;
}

.clock {
    font-family: sans-serif;
    margin-top: 50px;
}

h2 {
    margin-top: 5px;
    color: #be9fe1;
}

button {
    margin: 1px;
}

pre {
    margin-top: 120px;
    color: #f65c78;
    font-family: 'Courgette', cursive;
}

footer {
    margin-top: 100px;
    color: #fea5ad;
}

.quote {
    color: #42e6a4;
}